@model Inquiry__Management__System.Models.Agents

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update</h2>


<hr />

        <form asp-action="Edit" style="border:solid 1px white;padding:8px;box-shadow:0 6px 10px 0 rgba(0,0,0,0.2)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Agent_Id" />
            <div class="row">

                <br />
                <div class="col-md-4">
                    <label class="form-field">Agent Name</label>
                    <input asp-for="Agent_Name" class="form-control" style="border-radius:20px" />
                    <span asp-validation-for="Agent_Name" class="text-danger"></span>
                </div>
                <br />
                <div class="col-md-4">
                    <label class="form-field">Address</label>

                    <input asp-for="Address" class="form-control" style="border-radius:20px">

                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">

                    <label class="form-field">Phone Number</label>

                    <input asp-for="Phone_Number" type="tel" class="form-control" style="border-radius:20px" />
                    <span asp-validation-for="Phone_Number" class="text-danger"></span>
                </div>

                <div class="col-sm-4">

                    <label class="form-field">Email</label>

                    <input asp-for="Email" class="form-control" style="border-radius:20px" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>



            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">

                    <label class="form-field">Location</label>

                    <input asp-for="Location" class="form-control" style="border-radius:20px" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>



            </div>
            <br />

            <div class="row">
                <div class="col-sm-4">

                    <input type="submit" value="Save" class="btn btn-primary" style="width:200px;" />
                </div>

                <div class="col-sm-4">

                    <a asp-action="Index" class="btn btn-dark">Back to List</a>

                </div>
            </div>
        </form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
